:root {
	--main-bg-color: #1f2937;
	--main-txt-color: #f9faf8;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0px;
}

main {
	display: flex;
	flex-direction: column;
}

header h6 {
	margin: 0 10px;
	font-size: 24px;
}

header {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#links {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	color: #e5e7eb;
}

#links li {
	margin: 0 1em;
	font-weight: 100;
}

#hero {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 350px;
	padding: 2em;
}

#hero-content {
	place-self: center;
	padding: 2em;
}

#hero-content h2 {
	font-size: 48px;
	font-weight: bolder;
}

#hero-content p {
	color: #e5e7eb;
	font-weight: lighter;
}

#hero-image {
	place-self: center;
	background-color: #e5e7eb;
	height: 60%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1f2937;
	border-radius: 5px;
}

button {
	background-color: #3882f6;
	color: #e5e7eb;
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	font-weight: 700;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
}

#gallery-images {
	display: flex;
}

.image-item {
	display: flex;
	flex-direction: column;
	justify-self: left;
	align-items: center;
	padding: 1em;
	text-align: center;
}

.image {
	border: blue 1px solid;
	height: 200px;
	width: 150px;
	border-radius: 5px;
}

#quote-section {
	background-color: #e5e7eb;
	color: #1f2937;
	display: flex;
	flex-direction: column;
	padding: 5em;
}

#quote-section p {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	margin: 0px;
}

#quote-section h4 {
	align-self: end;
	margin: 0px;
}

#action-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
}

#action-content {
	background-color: #3882f6;
	padding: 1em 6em;
	border-radius: 5px;
	color: var(--main-txt-color);
	display: flex;
}

#action-content button {
	border: var(--main-txt-color) 1px solid;
}
