:root {
	--main-bg-color: #1f2937;
	--main-txt-color: #f9faf8;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0px;
}

main {
	display: flex;
	flex-direction: column;
}

header h6 {
	margin: 0 10px;
	font-size: 24px;
}

header {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#links {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	color: #e5e7eb;
}

#links li {
	margin: 0 1em;
	font-weight: 100;
}

#hero {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
}
